build
files.txt
log_file.txt
preprocessing/__pycache__ utils/__pycache__
naive_bayes/.DS_Store
khmerml/build/
**/__pycache__/
**/__pycache__
**/__pycache__
khmerml/preprocessing/__pycache__ khmerml/utils/__pycache__
.vscode
.pytest_cache
*.pyc
*.log
config/env.json
*.pickle
*.csv
*.model
*.DS_Store
