{
    "root": "D:/ML_text_classification/New folder/slashml_main",
    "dataset": "model_data",
    "train_model": "model_data/naive_bayes.model",
    "train_dataset": "model_data/train_dataset.pickle",
    "test_dataset": "model_data/test_dataset.pickle",
    "bag_of_words": "model_data/bag_of_words",
    "text_dir": "dataset",
    "mode": "unicode"
}